<div id="orderdetailModal" class="modal">
  <p>orderdetail modal</p>
  <a href="#" rel="modal:close">Close</a>
</div>

<div id="customerInfoModal" class="modal">
  <table>
    <thead>
      <tr>
        <th>
          정보
        </th>
        <th>
          값
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>customerName</td>
        <td class = "table customerModal" id = "customerName">Atelier graphique</td>
      </tr>
      <tr>
        <td>contactLastName</td>
        <td>Schmitt</td>
      </tr>
      <tr>
        <td>cuntactFirstName</td>
        <td>Carine</td>
      </tr>
      <tr>
        <td>phone</td>
        <td>40.32.2555</td>
      </tr>
      <tr>
        <td>addressLine1</td>
        <td>54, rue Royale</td>
      </tr>
      <tr>
        <td>addressLine2</td>
        <td></td>
      </tr>
      <tr>
        <td>city</td>
        <td>Nantes</td>
      </tr>
      <tr>
        <td>state</td>
        <td></td>
      </tr>
      <tr>
        <td>postalCode</td>
        <td>44000</td>
      </tr>
      <tr>
        <td>country</td>
        <td>France</td>
      </tr>
    </tbody>
  </table>
  <a href="#" rel="modal:close">Close</a>
</div>

<div class="search">
  <%= select_tag :condition, options_for_select(
  [
    ["주문번호", "orderNumber"],
    ["배송상태", "status"],
    
  ], "orderNumber"), class: 'condition' %>
  <%= text_field_tag :q, nil, placeholder: '검색어를 입력해주세요.', class: 'form-control search-box' %>
  <span class="input-group-append">
    <%= button_tag class: 'search-btn' do -%>
      <i class="fa fa-search"></i> 검색
    <% end %>
</div>

<% #table 만들기 %>
<table id="orders" class="orders table">
  <thead>
    <tr>
      <th>orderNumber</th>
      <th>orderDate</th>
      <th>requiredDate</th>
      <th>shippedDate</th>
      <th>status</th>
      <th>comments</th>
      <th>customerNumber</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#orderdetail" rel="modal:open">10100</a>
      </td>
      <td>2003-01-06</td>
      <td>2003-01-13</td>
      <td>2003-01-10</td>
      <td>Shipped</td>
      <td>my name Is...hohohoho</td>
      <td>
        <a href="#customer" rel="modal:open">363</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#orderdetail" rel="modal:open">10101</a>
      </td>
      <td>2003-01-09</td>
      <td>2003-01-18</td>
      <td>2003-01-11</td>
      <td>Shipped</td>
      <td>Check on availability.</td>
      <td>
        <a href="#customer" rel="modal:open">128</a>
      </td>
    </tr>
  </tbody>
</table>

<% content_for :javascript do %>
  <script type="text/javascript">
    <%= render 'index.js' %>
    <%= render 'modals.js'%>
  </script>
<% end %>